In [2]:
import pandas as pd
import json
import ast
from pprint import pprint

In [3]:
df = pd.read_csv('data/random_tweets.csv')

In [4]:
df

,id,text,context_annotations,entities
0,1537787387975282695,"RT @Mr_AndersonJr: Albert Pike a Freemason, re...",[],"{'annotations': [{'start': 19, 'end': 29, 'pro..."
1,1537787387987861516,@ajaymaurya536 @ZachariaMabala @IsraelGadgets ...,[],"{'mentions': [{'start': 0, 'end': 14, 'usernam..."
2,1537787387991891968,RT @deeptxtings: I wanna be hugged and hugged ...,[],"{'mentions': [{'start': 3, 'end': 15, 'usernam..."
3,1537787387979309059,#Israel is working with #HongKong on a trial w...,"[{'domain': {'id': '30', 'name': 'Entities [En...","{'hashtags': [{'start': 0, 'end': 7, 'tag': 'I..."
4,1537787387996426240,@dxhnvq spill calonnya ğŸ˜²,[],"{'mentions': [{'start': 0, 'end': 7, 'username..."
...,...,...,...,...
914,1537787622864584709,@MyCryptoJourn It's a bit worrying about those...,[],"{'mentions': [{'start': 0, 'end': 14, 'usernam..."
915,1537787622864457728,COOL COOL COOL __link__,"[{'domain': {'id': '3', 'name': 'TV Shows', 'd...","{'urls': [{'start': 15, 'end': 38, 'url': 'htt..."
916,1537787622851874818,RT @kirawontmiss: Drake better stop hanging ar...,"[{'domain': {'id': '10', 'name': 'Person', 'de...","{'annotations': [{'start': 18, 'end': 22, 'pro..."
917,1537787622873079808,RT @TristanSnell: So a Supreme Court justice w...,[],"{'annotations': [{'start': 62, 'end': 71, 'pro..."
918,1537787622881386496,@KGOMEZAMDG @Catlover_99 @RobertC26440604 @its...,[],"{'annotations': [{'start': 111, 'end': 113, 'p..."

In [6]:
ex = df.loc[916]

print(ex.text)
print('___________________________')
entities = ast.literal_eval(ex.entities)
print(json.dumps(entities, sort_keys=False, indent=4))

print('___________________________')
context = ast.literal_eval(ex.context_annotations)
print(json.dumps(context, sort_keys=False, indent=4))

RT @kirawontmiss: Drake better stop hanging around with Jack Harlow because wtf is this
___________________________
{
    "annotations": [
        {
            "start": 18,
            "end": 22,
            "probability": 0.9934,
            "type": "Person",
            "normalized_text": "Drake"
        },
        {
            "start": 56,
            "end": 66,
            "probability": 0.9968,
            "type": "Person",
            "normalized_text": "Jack Harlow"
        }
    ],
    "mentions": [
        {
            "start": 3,
            "end": 16,
            "username": "kirawontmiss",
            "id": "1471414739880189955"
        }
    ]
}
__________________________
[
    {
        "domain": {
            "id": "10",
            "name": "Person",
            "description": "Named people in the world like Nelson Mandela"
        },
        "entity": {
            "id": "1366823673416478722",
            "name": "Jack Harlow"
        }
    },
    {
        "domain": {
            "id": "54",
            "name": "Musician",
            "description": "A musician in the world, like Adele or Bob Dylan"
        },
        "entity": {
            "id": "1366823673416478722",
            "name": "Jack Harlow"
        }
    },
    {
        "domain": {
            "id": "55",
            "name": "Music Genre",
            "description": "A category for a musical style, like Pop, Rock, or Rap"
        },
        "entity": {
            "id": "810937888334487552",
            "name": "Rap",
            "description": "Hip-Hop/Rap"
        }
    },
    {
        "domain": {
            "id": "55",
            "name": "Music Genre",
            "description": "A category for a musical style, like Pop, Rock, or Rap"
        },
        "entity": {
            "id": "1291184917221535744",
            "name": "Hip hop"
        }
    }
]

In [104]:
df.text = df.text.str.replace('__link__','')
df.text = df.text.str.replace('@\w+', '', regex = True)
df.text = df.text.str.replace('RT :', '')
df.text = df.text.str.strip()

In [105]:
df['word_count'] = df.text.apply(lambda x: len(x.split(' ')))
df['word_list'] = df.text.str.split(' ')

In [106]:
df['text'].value_counts().index[1]

'[#2022BTSFESTA] ğŸ•–609 BTS 9TH ANNIVERSARY FAMILY PORTRAIT #3 ('

In [107]:
aux = df['text'].value_counts()
aux['']

3

In [108]:
len(df['text'].unique())

153757

In [109]:
df[df['id']==1534524466922921987].text == ''

26239    True
Name: text, dtype: bool

In [110]:
df = df.groupby('text').first().reset_index()

In [111]:
df = df.drop(0)
df

,text,id,word_count,word_list
1,! #JHOPEonLollapalooza SO PROUD OF YOU HOBI #J...,1534486445590716417,9,"[!, #JHOPEonLollapalooza, SO, PROUD, OF, YOU, ..."
2,! This is a big result. Remember the Californi...,1534527621039460352,21,"[!, This, is, a, big, result., Remember, the, ..."
3,"! Truly amazing, god bless ğŸ˜ŒğŸ™ quality, but the...",1534691739965042689,30,"[!, Truly, amazing,, god, bless, ğŸ˜ŒğŸ™, quality,,..."
4,!! Thought this was just me,1534841124317122561,6,"[!!, Thought, this, was, just, me]"
5,!! dont break the chain. - wallpaper - last so...,1534527679768461312,17,"[!!, dont, break, the, chain., -, wallpaper, -..."
...,...,...,...,...
153752,ğŸ«¶ thankyouuuu ğŸ«¶,1534596822873911299,3,"[ğŸ«¶, thankyouuuu, ğŸ«¶]"
153753,ğŸ«¶ğŸ» titty tuesday ğŸ«¶ğŸ» catch one in your mouth ğŸ‘…,1534595937879875585,10,"[ğŸ«¶ğŸ», titty, tuesday, ğŸ«¶ğŸ», catch, one, in, your,..."
153754,ğŸ«¶ğŸ¼âœ¨CRYSTALS I WOULD LOVE TO SELLğŸ«¶ğŸ¼âœ¨pictured ar...,1534694864729825280,19,"[ğŸ«¶ğŸ¼âœ¨CRYSTALS, I, WOULD, LOVE, TO, SELLğŸ«¶ğŸ¼âœ¨pictu..."
153755,ğŸ«¶ğŸ¼ğŸ«¶ğŸ¼ğŸ«¶ğŸ¼ (but my mom would be mad if i donâ€™t put...,1534522256537583616,31,"[ğŸ«¶ğŸ¼ğŸ«¶ğŸ¼ğŸ«¶ğŸ¼, (but, my, mom, would, be, mad, if, i,..."
153756,ğŸ«¶ğŸ«¶ğŸ«¶ weâ€™ll see u in amsterdam â¤ï¸,1534849345165701123,8,"[ğŸ«¶ğŸ«¶ğŸ«¶, , weâ€™ll, see, u, in, amsterdam, â¤ï¸]"

In [112]:
df = df[df.word_count >= 3]
df

,text,id,word_count,word_list
1,! #JHOPEonLollapalooza SO PROUD OF YOU HOBI #J...,1534486445590716417,9,"[!, #JHOPEonLollapalooza, SO, PROUD, OF, YOU, ..."
2,! This is a big result. Remember the Californi...,1534527621039460352,21,"[!, This, is, a, big, result., Remember, the, ..."
3,"! Truly amazing, god bless ğŸ˜ŒğŸ™ quality, but the...",1534691739965042689,30,"[!, Truly, amazing,, god, bless, ğŸ˜ŒğŸ™, quality,,..."
4,!! Thought this was just me,1534841124317122561,6,"[!!, Thought, this, was, just, me]"
5,!! dont break the chain. - wallpaper - last so...,1534527679768461312,17,"[!!, dont, break, the, chain., -, wallpaper, -..."
...,...,...,...,...
153752,ğŸ«¶ thankyouuuu ğŸ«¶,1534596822873911299,3,"[ğŸ«¶, thankyouuuu, ğŸ«¶]"
153753,ğŸ«¶ğŸ» titty tuesday ğŸ«¶ğŸ» catch one in your mouth ğŸ‘…,1534595937879875585,10,"[ğŸ«¶ğŸ», titty, tuesday, ğŸ«¶ğŸ», catch, one, in, your,..."
153754,ğŸ«¶ğŸ¼âœ¨CRYSTALS I WOULD LOVE TO SELLğŸ«¶ğŸ¼âœ¨pictured ar...,1534694864729825280,19,"[ğŸ«¶ğŸ¼âœ¨CRYSTALS, I, WOULD, LOVE, TO, SELLğŸ«¶ğŸ¼âœ¨pictu..."
153755,ğŸ«¶ğŸ¼ğŸ«¶ğŸ¼ğŸ«¶ğŸ¼ (but my mom would be mad if i donâ€™t put...,1534522256537583616,31,"[ğŸ«¶ğŸ¼ğŸ«¶ğŸ¼ğŸ«¶ğŸ¼, (but, my, mom, would, be, mad, if, i,..."
153756,ğŸ«¶ğŸ«¶ğŸ«¶ weâ€™ll see u in amsterdam â¤ï¸,1534849345165701123,8,"[ğŸ«¶ğŸ«¶ğŸ«¶, , weâ€™ll, see, u, in, amsterdam, â¤ï¸]"

In [113]:
#df['text'] = df['text'].str.capitalize()
df['text'] = df['text'].str.encode('ascii', errors='ignore').str.decode('utf-8')
df = df.drop('word_list', axis=1)
df

C:\Users\marci\AppData\Local\Temp\ipykernel_15948\3647929405.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'] = df['text'].str.capitalize()
C:\Users\marci\AppData\Local\Temp\ipykernel_15948\3647929405.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'] = df['text'].str.encode('ascii', errors='ignore').str.decode('utf-8')

,text,id,word_count
1,! #jhopeonlollapalooza so proud of you hobi #j...,1534486445590716417,9
2,! this is a big result. remember the californi...,1534527621039460352,21
3,"! truly amazing, god bless quality, but they'...",1534691739965042689,30
4,!! thought this was just me,1534841124317122561,6
5,!! dont break the chain. - wallpaper - last so...,1534527679768461312,17
...,...,...,...
153752,thankyouuuu,1534596822873911299,3
153753,titty tuesday catch one in your mouth,1534595937879875585,10
153754,crystals i would love to sellpictured are some...,1534694864729825280,19
153755,(but my mom would be mad if i dont put my sho...,1534522256537583616,31
153756,well see u in amsterdam,1534849345165701123,8

In [114]:
df['hashtags'] = df.text.str.findall('#\w+')
df['text'] = df.text.str.replace('#\w+','')
df

C:\Users\marci\AppData\Local\Temp\ipykernel_15948\1505636162.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df.text.str.replace('#\w+','')

,text,id,word_count,hashtags
1,! so proud of you hobi #,1534486445590716417,9,"[#jhopeonlollapalooza, #jhope]"
2,! this is a big result. remember the californi...,1534527621039460352,21,[]
3,"! truly amazing, god bless quality, but they'...",1534691739965042689,30,[]
4,!! thought this was just me,1534841124317122561,6,[]
5,!! dont break the chain. - wallpaper - last so...,1534527679768461312,17,[]
...,...,...,...,...
153752,thankyouuuu,1534596822873911299,3,[]
153753,titty tuesday catch one in your mouth,1534595937879875585,10,[]
153754,crystals i would love to sellpictured are some...,1534694864729825280,19,[]
153755,(but my mom would be mad if i dont put my sho...,1534522256537583616,31,[]
153756,well see u in amsterdam,1534849345165701123,8,[]

In [116]:
# ()
df.text = df.text.str.extract('(\w.*)')
df.text = df.text.str.replace('#', '')
df.text = df.text.str.strip()
df.text = df.text.str.capitalize()
df = df.drop('word_count')
df

,text,id,word_count,hashtags
1,So proud of you hobi,1534486445590716417,9,"[#jhopeonlollapalooza, #jhope]"
2,This is a big result. remember the california ...,1534527621039460352,21,[]
3,"Truly amazing, god bless quality, but they're...",1534691739965042689,30,[]
4,Thought this was just me,1534841124317122561,6,[]
5,Dont break the chain. - wallpaper - last song ...,1534527679768461312,17,[]
...,...,...,...,...
153752,Thankyouuuu,1534596822873911299,3,[]
153753,Titty tuesday catch one in your mouth,1534595937879875585,10,[]
153754,Crystals i would love to sellpictured are some...,1534694864729825280,19,[]
153755,But my mom would be mad if i dont put my shoes...,1534522256537583616,31,[]
153756,Well see u in amsterdam,1534849345165701123,8,[]