In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/base_test.csv')

In [3]:
df

                         id                                               text
0       1534250230765469702  RT @CarryKey_: Was this scene in anime? ðŸ˜³  Nam...
1       1534250230756954113  @NewLiveAid1 Hello @NewLiveAid1 we are looking...
2       1534250230782246913      RT @02pollos: better call evangelion __link__
3       1534250230777974784  @arunrichardc @NIH @NIHAging Congrats @arunric...
4       1534250230769758208  RT @mdmitri91: Can we believe the Russian phon...
...                     ...                                                ...
199229  1534850280478724097                  When you have wings of l __link__
199230  1534850280482914304  RT @npt_writes: @CatDocMD What does it say abo...
199231  1534850280491143168  à¸„à¸´à¸”à¸–à¸¶à¸‡à¸ˆà¸±à¸‡à¹€à¸¥à¸¢à¸„à¹ˆà¸² THE BEAUTY OF SELF XPRESSION @...
199232  1534850280474480641                  @joechees Please just shut up, ok
199233  1534850280486866944  RT @JayKayOST: jungkook being praised left and...

[199234 rows x 2 columns]

In [4]:
df.text = df.text.str.replace('__link__','')
df.text = df.text.str.replace('@\w+', '', regex = True)
df.text = df.text.str.replace('RT :', '')
df.text = df.text.str.strip()

In [5]:
df['word_count'] = df.text.apply(lambda x: len(x.split(' ')))
df['word_list'] = df.text.str.split(' ')

In [22]:
df['text'].value_counts().index[1]

'[#2022BTSFESTA] ðŸ•–609 BTS 9TH ANNIVERSARY FAMILY PORTRAIT #3 ('

,id,text,word_count,word_list
2,1534250230782246913,better call evangelion,3,"[better, call, evangelion]"
7,1534250230769520640,YES YES YES,3,"[YES, YES, YES]"
16,1534250230769672192,manda a chave,3,"[manda, a, chave]"
31,1534250234976489472,Promote it on,3,"[Promote, it, on]"
60,1534250243331612672,Moon as basketball.,3,"[Moon, as, basketball.]"
...,...,...,...,...
199137,1534850251106189313,two joints pareh,3,"[two, joints, pareh]"
199146,1534850255321108480,we playin then?,3,"[we, playin, then?]"
199154,1534850255295897600,The wife said,3,"[The, wife, said]"
199192,1534850267874660352,nice try IRS,3,"[nice, try, IRS]"
199206,1534850272085676032,haloo ðŸŒº,3,"[haloo, , ðŸŒº]"