In [101]:
import pandas as pd

In [102]:
df = pd.read_csv('data/base_test.csv')

In [103]:
df

                         id                                               text
0       1534250230765469702  RT @CarryKey_: Was this scene in anime? üò≥  Nam...
1       1534250230756954113  @NewLiveAid1 Hello @NewLiveAid1 we are looking...
2       1534250230782246913      RT @02pollos: better call evangelion __link__
3       1534250230777974784  @arunrichardc @NIH @NIHAging Congrats @arunric...
4       1534250230769758208  RT @mdmitri91: Can we believe the Russian phon...
...                     ...                                                ...
199229  1534850280478724097                  When you have wings of l __link__
199230  1534850280482914304  RT @npt_writes: @CatDocMD What does it say abo...
199231  1534850280491143168  ‡∏Ñ‡∏¥‡∏î‡∏ñ‡∏∂‡∏á‡∏à‡∏±‡∏á‡πÄ‡∏•‡∏¢‡∏Ñ‡πà‡∏≤ THE BEAUTY OF SELF XPRESSION @...
199232  1534850280474480641                  @joechees Please just shut up, ok
199233  1534850280486866944  RT @JayKayOST: jungkook being praised left and...

[199234 rows x 2 columns]

In [104]:
df.text = df.text.str.replace('__link__','')
df.text = df.text.str.replace('@\w+', '', regex = True)
df.text = df.text.str.replace('RT :', '')
df.text = df.text.str.strip()

In [105]:
df['word_count'] = df.text.apply(lambda x: len(x.split(' ')))
df['word_list'] = df.text.str.split(' ')

In [106]:
df['text'].value_counts().index[1]

'[#2022BTSFESTA] üïñ609 BTS 9TH ANNIVERSARY FAMILY PORTRAIT #3 ('

In [107]:
aux = df['text'].value_counts()
aux['']

3

In [108]:
len(df['text'].unique())

153757

In [109]:
df[df['id']==1534524466922921987].text == ''

26239    True
Name: text, dtype: bool

In [110]:
df = df.groupby('text').first().reset_index()

In [111]:
df = df.drop(0)
df

,text,id,word_count,word_list
1,! #JHOPEonLollapalooza SO PROUD OF YOU HOBI #J...,1534486445590716417,9,"[!, #JHOPEonLollapalooza, SO, PROUD, OF, YOU, ..."
2,! This is a big result. Remember the Californi...,1534527621039460352,21,"[!, This, is, a, big, result., Remember, the, ..."
3,"! Truly amazing, god bless üòåüôè quality, but the...",1534691739965042689,30,"[!, Truly, amazing,, god, bless, üòåüôè, quality,,..."
4,!! Thought this was just me,1534841124317122561,6,"[!!, Thought, this, was, just, me]"
5,!! dont break the chain. - wallpaper - last so...,1534527679768461312,17,"[!!, dont, break, the, chain., -, wallpaper, -..."
...,...,...,...,...
153752,ü´∂ thankyouuuu ü´∂,1534596822873911299,3,"[ü´∂, thankyouuuu, ü´∂]"
153753,ü´∂üèª titty tuesday ü´∂üèª catch one in your mouth üëÖ,1534595937879875585,10,"[ü´∂üèª, titty, tuesday, ü´∂üèª, catch, one, in, your,..."
153754,ü´∂üèº‚ú®CRYSTALS I WOULD LOVE TO SELLü´∂üèº‚ú®pictured ar...,1534694864729825280,19,"[ü´∂üèº‚ú®CRYSTALS, I, WOULD, LOVE, TO, SELLü´∂üèº‚ú®pictu..."
153755,ü´∂üèºü´∂üèºü´∂üèº (but my mom would be mad if i don‚Äôt put...,1534522256537583616,31,"[ü´∂üèºü´∂üèºü´∂üèº, (but, my, mom, would, be, mad, if, i,..."
153756,ü´∂ü´∂ü´∂ we‚Äôll see u in amsterdam ‚ù§Ô∏è,1534849345165701123,8,"[ü´∂ü´∂ü´∂, , we‚Äôll, see, u, in, amsterdam, ‚ù§Ô∏è]"

In [112]:
df = df[df.word_count >= 3]
df

,text,id,word_count,word_list
1,! #JHOPEonLollapalooza SO PROUD OF YOU HOBI #J...,1534486445590716417,9,"[!, #JHOPEonLollapalooza, SO, PROUD, OF, YOU, ..."
2,! This is a big result. Remember the Californi...,1534527621039460352,21,"[!, This, is, a, big, result., Remember, the, ..."
3,"! Truly amazing, god bless üòåüôè quality, but the...",1534691739965042689,30,"[!, Truly, amazing,, god, bless, üòåüôè, quality,,..."
4,!! Thought this was just me,1534841124317122561,6,"[!!, Thought, this, was, just, me]"
5,!! dont break the chain. - wallpaper - last so...,1534527679768461312,17,"[!!, dont, break, the, chain., -, wallpaper, -..."
...,...,...,...,...
153752,ü´∂ thankyouuuu ü´∂,1534596822873911299,3,"[ü´∂, thankyouuuu, ü´∂]"
153753,ü´∂üèª titty tuesday ü´∂üèª catch one in your mouth üëÖ,1534595937879875585,10,"[ü´∂üèª, titty, tuesday, ü´∂üèª, catch, one, in, your,..."
153754,ü´∂üèº‚ú®CRYSTALS I WOULD LOVE TO SELLü´∂üèº‚ú®pictured ar...,1534694864729825280,19,"[ü´∂üèº‚ú®CRYSTALS, I, WOULD, LOVE, TO, SELLü´∂üèº‚ú®pictu..."
153755,ü´∂üèºü´∂üèºü´∂üèº (but my mom would be mad if i don‚Äôt put...,1534522256537583616,31,"[ü´∂üèºü´∂üèºü´∂üèº, (but, my, mom, would, be, mad, if, i,..."
153756,ü´∂ü´∂ü´∂ we‚Äôll see u in amsterdam ‚ù§Ô∏è,1534849345165701123,8,"[ü´∂ü´∂ü´∂, , we‚Äôll, see, u, in, amsterdam, ‚ù§Ô∏è]"

In [113]:
#df['text'] = df['text'].str.capitalize()
df['text'] = df['text'].str.encode('ascii', errors='ignore').str.decode('utf-8')
df = df.drop('word_list', axis=1)
df

C:\Users\marci\AppData\Local\Temp\ipykernel_15948\3647929405.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'] = df['text'].str.capitalize()
C:\Users\marci\AppData\Local\Temp\ipykernel_15948\3647929405.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'] = df['text'].str.encode('ascii', errors='ignore').str.decode('utf-8')

,text,id,word_count
1,! #jhopeonlollapalooza so proud of you hobi #j...,1534486445590716417,9
2,! this is a big result. remember the californi...,1534527621039460352,21
3,"! truly amazing, god bless quality, but they'...",1534691739965042689,30
4,!! thought this was just me,1534841124317122561,6
5,!! dont break the chain. - wallpaper - last so...,1534527679768461312,17
...,...,...,...
153752,thankyouuuu,1534596822873911299,3
153753,titty tuesday catch one in your mouth,1534595937879875585,10
153754,crystals i would love to sellpictured are some...,1534694864729825280,19
153755,(but my mom would be mad if i dont put my sho...,1534522256537583616,31
153756,well see u in amsterdam,1534849345165701123,8

In [114]:
df['hashtags'] = df.text.str.findall('#\w+')
df['text'] = df.text.str.replace('#\w+','')
df

C:\Users\marci\AppData\Local\Temp\ipykernel_15948\1505636162.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'] = df.text.str.replace('#\w+','')

,text,id,word_count,hashtags
1,! so proud of you hobi #,1534486445590716417,9,"[#jhopeonlollapalooza, #jhope]"
2,! this is a big result. remember the californi...,1534527621039460352,21,[]
3,"! truly amazing, god bless quality, but they'...",1534691739965042689,30,[]
4,!! thought this was just me,1534841124317122561,6,[]
5,!! dont break the chain. - wallpaper - last so...,1534527679768461312,17,[]
...,...,...,...,...
153752,thankyouuuu,1534596822873911299,3,[]
153753,titty tuesday catch one in your mouth,1534595937879875585,10,[]
153754,crystals i would love to sellpictured are some...,1534694864729825280,19,[]
153755,(but my mom would be mad if i dont put my sho...,1534522256537583616,31,[]
153756,well see u in amsterdam,1534849345165701123,8,[]

In [116]:
# ()
df.text = df.text.str.extract('(\w.*)')
df.text = df.text.str.replace('#', '')
df.text = df.text.str.strip()
df.text = df.text.str.capitalize()
df = df.drop('word_count')
df

,text,id,word_count,hashtags
1,So proud of you hobi,1534486445590716417,9,"[#jhopeonlollapalooza, #jhope]"
2,This is a big result. remember the california ...,1534527621039460352,21,[]
3,"Truly amazing, god bless quality, but they're...",1534691739965042689,30,[]
4,Thought this was just me,1534841124317122561,6,[]
5,Dont break the chain. - wallpaper - last song ...,1534527679768461312,17,[]
...,...,...,...,...
153752,Thankyouuuu,1534596822873911299,3,[]
153753,Titty tuesday catch one in your mouth,1534595937879875585,10,[]
153754,Crystals i would love to sellpictured are some...,1534694864729825280,19,[]
153755,But my mom would be mad if i dont put my shoes...,1534522256537583616,31,[]
153756,Well see u in amsterdam,1534849345165701123,8,[]